[package]
name = "baseten_performance_client_core"
version = "0.0.10-rc0"
edition = "2021"

[dependencies]
tokio = { workspace = true }
reqwest = { version = "0.12.12", default-features = false, features = ["blocking", "json", "stream", "http2"] }
openssl = { version = "0.10", features = ["vendored"], optional = true}
serde = { workspace = true }
serde_json = { workspace = true }
futures = { workspace = true }
once_cell = { workspace = true }
rand = { workspace = true }

[features]
default = ["native-tls"]
native-tls = ["reqwest/default-tls", "reqwest/native-tls-alpn", "dep:openssl"]
rustls = ["reqwest/rustls-tls", "reqwest/rustls-tls-webpki-roots"]
