[flake8]
import-order-style=google
# Note: this forces all google imports to be in the third group. See
# https://github.com/PyCQA/flake8-import-order/issues/111
ignore = E203, E266, W503
max-line-length = 120
exclude =
  __pycache__,
  .git,
  *.pyc,
  conf.py,
**tests/samples.py
