*.pyc
*.pth
*.code-workspace
backend/*.sqlite3
.DS_Store
.env
.env.*
backend/baseten/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/*
!/.vscode/settings.json

# coverage result
.coverage
/coverage/

# pycharm
.idea

# data
*.dump

# npm
node_modules/
npm-debug.log

#Folders
.DS_Store

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json
/webpack-stats.dev.json

# Cypress
/cypress/screenshots/
/cypress/videos/
__diff_output__

# Sass
.sass-cache
*.map

# General
/venv/
/env/
/output/
/cache/
dist/

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

# process ids
*.pid
backend/celerybeat-schedule

backend/staticfiles/**/*

backend/cov_html/*
k8s/on-prem/deps/*

.eslintcache
/.pytest_cache/

# Truss-Chains generated code.
**/.chains_generated/**

.hypothesis

truss-transfer/target/
baseten-performance-client/target/
.venv
