[tool.poetry]
name = "truss"
version = "0.3.4rc1"
description = "A seamless bridge from model development to model delivery"
license = "MIT"
readme = "README.md"
authors = ["Pankaj Gupta <pankaj@baseten.co>", "Phil Howes <phil@baseten.co>"]
include = ["*.txt", "*.Dockerfile", "*.md"]
repository = "https://github.com/basetenlabs/truss"
keywords = ["MLOps", "AI", "Model Serving", "Model Deployment", "Machine Learning"]

[tool.poetry.urls]
"Homepage" = "https://truss.baseten.co"
"Bug Reports" = "https://github.com/basetenlabs/truss/issues"
"Documentation" = "https://truss.baseten.co"
"Baseten" = "https://baseten.co"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
numpy = "1.23.5"
msgpack = ">=1.0.2"
msgpack-numpy = ">=0.4.7.1"
packaging = "^20.9"
python-json-logger = ">=2.0.2"
PyYAML = "^6.0"
Jinja2 = "^3.1.2"
python-on-whales = "^0.46.0"
tenacity = "^8.0.1"
single-source = "^0.3.0"
cloudpickle = "^2.2.0"

[tool.poetry.group.builder.dependencies]
python = ">=3.8,<3.11"
packaging = "^20.9"
python-json-logger = ">=2.0.2"
PyYAML = "^6.0"
Jinja2 = "^3.1.2"
tenacity = "^8.0.1"
cloudpickle = "^2.2.0"
single-source = "^0.3.0"
click = "^8.0.3"
requests = "^2.28.1"

[tool.poetry.dev-dependencies]
torch = "^1.9.0"
ipython = "^7.16"
pytest = "7.2.0"
tensorflow = { version = "^2.4.4", markers = "sys_platform == 'linux'" }
tensorflow-macos = { version = "^2.4.4", markers = "sys_platform == 'darwin'" }
pre-commit = "^2.18.1"
scikit-learn = "1.0.2"
pandas = "1.5.2"
tensorflow-hub = "^0.12.0"
# generally discouraged to use an RC version. Will fast follow with 0.10.0 version.
kserve = "0.10.0rc1"
isort = "^5.10.1"
flake8 = "^4.0.1"
ipdb = "^0.13.9"
coverage = "^6.4.1"
pytest-cov = "^3.0.0"
xgboost = "^1.6.1"
lightgbm = "^3.3.2"
transformers = "^4.20.1"
black = "^22.6.0"
Flask = "^2.2.2"
waitress = "^2.1.2"
nbconvert = "^7.2.1"
ipykernel = "^6.16.0"

[tool.poetry.scripts]
truss = 'truss.cli:cli_group'

[tool.poetry.group.dev.dependencies]
mlflow = "^1.29.0"

[build-system]
requires = ["poetry-core>=1.2.1"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
src_paths = ["isort", "test"]
