{%- if hf_cache %}
{%- include "cache.Dockerfile.jinja" %}
{%- endif %}

FROM baseten/vllm:v0.3 as vllm

EXPOSE 8080-9000

RUN apt-get update && DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends \
        curl nginx supervisor && \
        rm -rf /var/lib/apt/lists/*


COPY ./proxy.conf /etc/nginx/conf.d/proxy.conf

RUN mkdir -p /var/log/supervisor
COPY supervisord.conf /etc/supervisor/conf.d/supervisord.conf

ENV SERVER_START_CMD /usr/bin/supervisord

{%- if hf_cache %}
    {%- set hf_dst_directory="./root/.cache/huggingface/hub/"%}
    {%- include "copy_cache_files.Dockerfile.jinja"%}
{%- endif %}

ENTRYPOINT ["/usr/bin/supervisord"]
