[supervisord]
nodaemon=true
logfile=/dev/null
logfile_maxbytes=0

[program:vllm-server]
command={{start_command}}
startsecs=0
autostart=true
autorestart=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
redirect_stderr=true

[program:nginx]
command=nginx -g "daemon off;"
startsecs=0
autostart=true
autorestart=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
redirect_stderr=true

[eventlistener:vllm_server_health_check]
command=supervisor_http_check -g example_service -n example_check -u / -t 30 -r 3 -p 8080
events=TICK_60
stderr_logfile = /var/log/supervisor/supervisor_vllm_server_health_check-stderr.log
stdout_logfile = /var/log/supervisor/supervisor_vllm_server_health_check-stdout.log