{% if use_gpu %}
FROM nvidia/cuda:12.2.2-base-ubuntu20.04
ENV CUDNN_VERSION="8.9.5.29"
ENV CUDA="12.2"
ENV LD_LIBRARY_PATH="/usr/local/cuda/extras/CUPTI/lib64:$LD_LIBRARY_PATH"


# Allow statements and log messages to immediately appear in the Knative logs
ENV PYTHONUNBUFFERED="True"
ENV DEBIAN_FRONTEND="noninteractive"

RUN ln -sf /usr/bin/python{{python_version}} /usr/bin/python3 && \
    curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py && \
    python3 get-pip.py

RUN python3 -m pip install --no-cache-dir --upgrade pip

{% else %}
FROM python:{{python_version}}
RUN apt update && apt install -y

# Allow statements and log messages to immediately appear in the Knative logs
ENV PYTHONUNBUFFERED="True"
{% endif %}


RUN pip install --no-cache-dir --upgrade pip \
    && rm -rf /root/.cache/pip

COPY ./requirements.txt requirements.txt
RUN pip install --no-cache-dir -r requirements.txt \
    && rm -rf /root/.cache/pip
