ARG PYVERSION={{config.python_version}}
FROM {{base_image_name_and_tag}} as truss_server

ENV PYTHON_EXECUTABLE {{ config.base_image.python_executable_path or 'python3' }}
ENV APP_HOME /app

{% block fail_fast %}
RUN grep -w 'ID=debian\|ID_LIKE=debian' /etc/os-release || { echo "ERROR: Supplied base image is not a debian image"; exit 1; }
RUN $PYTHON_EXECUTABLE -c "import sys; sys.exit(0) if sys.version_info.major == 3 and sys.version_info.minor >=8 and sys.version_info.minor <=11 else sys.exit(1)" \
    || { echo "ERROR: Supplied base image does not have 3.8 <= python <= 3.11"; exit 1; }
{% endblock %}

RUN useradd -ms /bin/bash app \
    && mkdir ${APP_HOME} \
    && mkdir /control \
    && chmod -R a=rwx ${APP_HOME} /home/app /control \
    && chown -R app:app ${APP_HOME} /control
ENV PATH=${PATH}:/home/app/.local/bin

USER app
RUN pip install --upgrade pip --no-cache-dir \
    && rm -rf /home/app/.cache/pip

{% block base_image_patch %}
{% endblock %}

{% if config.model_framework.value == 'huggingface_transformer' %}
    {% if config.resources.use_gpu %}
# HuggingFace pytorch gpu support needs mkl
USER app
RUN pip install mkl
    {% endif %}
{% endif%}

{% block post_base %}
{% endblock %}

{% block install_system_requirements %}
    {%- if should_install_system_requirements %}
COPY ./system_packages.txt system_packages.txt
USER root
RUN apt-get update && apt-get install --yes --no-install-recommends $(cat system_packages.txt) \
    && apt-get autoremove -y \
    && apt-get clean -y \
    && rm -rf /var/lib/apt/lists/*
    {%- endif %}
{% endblock %}


{% block install_requirements %}
    {%- if should_install_requirements %}
COPY --chown=app:app ./requirements.txt requirements.txt
USER app
RUN pip install -r requirements.txt --no-cache-dir && rm -rf /home/app/.cache/pip
    {%- endif %}
{% endblock %}



WORKDIR $APP_HOME


{% block app_copy %}
{% endblock %}


{% block bundled_packages_copy %}
USER app
    {%- if bundled_packages_dir_exists %}
COPY --chown=app:app ./{{config.bundled_packages_dir}} /packages
    {%- endif %}
{% endblock %}


{% for env_var_name, env_var_value in config.environment_variables.items() %}
ENV {{ env_var_name }} {{ env_var_value }}
{% endfor %}

{% block run %}
{% endblock %}
