FROM {{base_image_name_and_tag}}

RUN grep -w 'ID=debian\|ID_LIKE=debian' /etc/os-release || { echo "ERROR: Supplied base image is not a debian image"; exit 1; }

EXPOSE 8080-9000

RUN apt-get update && DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends \
        curl nginx supervisor python3-pip && \
        rm -rf /var/lib/apt/lists/*

COPY ./{{ config.model_module_dir }} /app/model

COPY ./{{ config.data_dir }} /app/data

COPY ./supervisor_checks /app/supervisor_checks

# TODO: move supervisor_checks to better place
# Install supervisor_checks using pip
RUN pip3 install /app/supervisor_checks

ENV SUPERVISOR_SERVER_URL http://localhost:8080

COPY ./proxy.conf /etc/nginx/conf.d/proxy.conf

RUN mkdir -p /var/log/supervisor
COPY supervisord.conf /etc/supervisor/conf.d/supervisord.conf

{% for env_var_name, env_var_value in config.environment_variables.items() %}
ENV {{ env_var_name }} {{ env_var_value }}
{% endfor %}

ENV SERVER_START_CMD /usr/bin/supervisord

ENTRYPOINT ["/usr/bin/supervisord"]
