{% extends "base.Dockerfile.jinja" %}

{% block install_requirements %}
    {%- if should_install_server_requirements %}
COPY ./server_requirements.txt server_requirements.txt
RUN pip install -r server_requirements.txt
    {%- endif %}
{{ super() }}
{% endblock %}

{% block app_copy %}
COPY ./server /app
{% endblock %}

{% block trusses_copy %}
WORKDIR /models/
 {% for truss_dir in model_dir_names %}
COPY ./{{ truss_dir }} /models/{{ truss_dir }}
 {% endfor %}

WORKDIR $APP_HOME
{% endblock %}

{% block run %}
ENV INFERENCE_SERVER_PORT 8080
CMD exec python3 /app/multi_inference_server.py
{% endblock %}
