name: Create Release PR

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Select release type (patch, minor, or major)'
        required: true
        default: patch
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  bump_version:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -

    - name: Bump version in pyproject.toml
      run: ./bin/bump_truss_version.sh ${{ github.event.inputs.release_type }}

    - name: Commit changes
      run: |
        git config --local user.email "96544894+basetenbot@users.noreply.github.com"
        git config --local user.name "basetenbot"
        git add pyproject.toml
        git commit -m "Bump version to $INPUT_VERSION"
      env:
        INPUT_VERSION: ${{ github.event.inputs.version }}

    # TODO: Also push changes to main
    - name: Push changes to new branch
      run: |
        git push origin HEAD:refs/heads/bump-version-${{ github.event.inputs.version }}
      env:
        GH_TOKEN: ${{ secrets.BASETENBOT_GITHUB_TOKEN }}

    - name: Make PR
      run: |
        CURR_VERSION=$(curl https://pypi.org/pypi/truss/json | jq ".info.version")
        PR_BODY="Updating Truss from [$CURR_VERSION](https://pypi.org/pypi/truss/json) to $INPUT_VERSION. **PLEASE ENSURE YOU MERGE, NOT SQUASH**"
        PR_URL=$(gh pr create --base release --head refs/heads/bump-version-$INPUT_VERSION --title "Release $INPUT_VERSION" --body "$PR_BODY")
      env:
        INPUT_VERSION: ${{ github.event.inputs.version }}
        GH_TOKEN: ${{ secrets.BASETENBOT_GITHUB_TOKEN }}
