name: integration-tests

on:
  workflow_dispatch: # Allows running from actions tab

concurrency:
  group: main-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  integration_tests:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        split_group: ["1", "2", "3", "4", "5"]
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: ./.github/actions/setup-python/
      - run: poetry install
      - run: poetry run pytest truss/tests -m 'integration' --splits 10 --group ${{ matrix.split_group }}
