name: PR - pre-commit

on:
  pull_request:

concurrency:
  group: pr-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: ./.github/actions/setup-python/
      - run: poetry install --with=dev,dev-server --extras=all
      - name: pre-commit
        run: poetry run pre-commit run --all-files
        env:
          SKIP: ruff,ruff-format # In CI run ruff separately to only check, not fix.
      - name: ruff check
        run: |
          poetry run ruff check .
          poetry run ruff format . --check

  test:
    timeout-minutes: 30
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: ./.github/actions/setup-python/
      - run: |
          sudo mkdir -p /bptr && sudo chown $(whoami):$(whoami) /bptr
          sudo mkdir -p /cache && sudo chown $(whoami):$(whoami) /cache
      - run: poetry install --with=dev,dev-server --extras=all
      - name: run tests
        run: poetry run pytest --durations=0  -m 'not integration' --junitxml=report.xml
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          commit: ${{ github.event.workflow_run.head_sha }}
          report_paths: "report.xml"

  report_to_slack:
    runs-on: ubuntu-latest
    if: always() && github.ref == 'refs/heads/main'
    needs:
      - test
    steps:
      - name: get-branch
        run: echo ${{ github.ref }}
      - name: show-slack-status
        uses: 8398a7/action-slack@v3
        with:
          status: custom
          fields: author, job, commit, repo
          custom_payload: |
            {
              attachments: [{
                color: "${{ needs.test.result == 'failure' && 'danger' || 'good' }}",
                text: `Truss post-commit tests Result: ${{ needs.test.result }}: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}`,
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  markdown-link-check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@master
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-verbose-mode: "yes"
          folder-path: "docs"
