name: Release CI

on:
  push:
    branches:
      - bola/add-truss-utils-package
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to bump to'
        required: true

    

concurrency:
  group: release-utils-${{ github.head_ref || github.run_id }}
  cancel-in-progress: false

jobs:
  publish-to-pypi:
    runs-on: ubuntu-20.04
    steps:
      - name: "Git tag release"
        uses: actions/checkout@v3
        with:
          token: ${{secrets.BASETENBOT_GITHUB_TOKEN}}

      - uses: ./.github/actions/setup-python/

      - name: Tag release
        env:
          INPUT_VERSION: 0.1.0
          # INPUT_VERSION: ${{ github.event.inputs.version }}
        run: |
          cd truss-utils
          poetry version $INPUT_VERSION
          NEW_VERSION=v$INPUT_VERSION
          git config --global user.name "Github action"
          git config --global user.email "github.action@baseten.co"

          git tag -a truss-utils-$NEW_VERSION -m "Release truss-utils $NEW_VERSION"
          git push origin $NEW_VERSION

      - name: Install poetry packages
        working-directory: truss-utils
        run: poetry install --no-dev

      - name: Build
        working-directory: truss-utils
        run: poetry build

      - name: Publish to PyPI
        if: ${{ github.event_name != 'pull_request' }}
        working-directory: truss-utils
        run: poetry publish -u "${{ secrets.PYPI_USERNAME }}" -p "${{ secrets.PYPI_PASSWORD }}"
